<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTSDPlCCdumEww3qTygNg09k5uPWkgrKc</string>
	<key>GCM_SENDER_ID</key>
	<string>834484120579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtiRide</string>
	<key>PROJECT_ID</key>
	<string>gti-rides</string>
	<key>STORAGE_BUCKET</key>
	<string>gti-rides.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834484120579:ios:69cc62d7d79171f2ecf236</string>
	<key>DATABASE_URL</key>
	<string>https://gti-rides-default-rtdb.firebaseio.com</string>
</dict>
</plist>